body {
  background-color: #2a4bee;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.layout-main-section {
  border: none;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80% ;
  border-radius: 25px;
  border: none;
  padding: 50px;
  text-align: center;
}
.big-heading {
  font-family: "Poppins";
  font-size: 45px;
  margin-bottom: 50px;
}
.small-heading {
  font-size: 22px;
  font-family: "Raleway";
  margin-bottom: 0px;
}
.kiosk-form {
  margin-top: 40px;
}
.text-field {
  background-color: #e6e6e6;
  padding: 25px;
  text-align: center;
  height: 80px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 50px;
}
.launch-screen .btn, .registration-screen .btn, .cart-screen .btn {
  height: 80px;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
.cart-screen .reset-cart, .cart-screen .cancel-cart {
  float: right;
  width: 25%;
  height: 40px;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 20px;
}
.cart-wrapper {
  margin-bottom: 20px;
}
.customer-caption {
  font-size: 30px;
  font-family: 'Poppins';
  float: left;
  padding-top: 20px;
  margin-bottom: 0px;
}
.customer-field {
  font-family: 'Poppins';
  font-size: 45px;
  margin-bottom: 50px;
}
.icon-style {
  font-size: 40px;
  padding: 20px;
  color: grey;
  margin-left: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
}
.search-field input{
  height: 50px;  
  background-color: #e6e6e6;
}
.list-item--head {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #e21331;
  border-width: 3px;
  background-color: #e6e6e6;
}
.list-item {
  background-color: #e6e6e6;
}
.footer-row {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}
.footer-numbers {
  color: #2A4BEE;
  font-weight: bold;
}
.empty-state {
  margin: 10px;
  font-size: 14px;
}
.cart-items .btn {
  height: 30px;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}
